/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
}
.hi {
    background-color: #445162;
    padding: 50px 0;
}

.hi__row {
    display: flex;
    justify-content: space-between;

}

.hi__body {
    color: #ffffff;
    padding-right: 30px;
}

.hi__title {
    font-size: 60px;
    line-height: 1.2;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    margin: 0 0 40px 0;
}

.hi__list li{
    background: url('../img/icons/check.png') left no-repeat;
    font-size: 20px;
    line-height: 36px;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    padding-left: 36px;
    margin-bottom: 15px;
}

.footer {
    background-color: #f5f5f5;
}

.footer__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #445162;
}

.title {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
}

.what {
    padding: 50px 0;
}
.what__row {
    display: flex;
}
.what__image {
    flex: 0 0 430px;
}
.what__body{
    flex: 1 1 auto;
    padding-left: 38px;
}
.what__image img {
    max-width: 100%;
}
.what__title {
    margin-bottom: 33px;
}
.what__text p {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.columns {
    background-color: #f5f5f5;
    padding: 20px 0;
}
.columns__title {
    text-align: center;
    margin-bottom: 30px;
}
.columns__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -8px; /*раздвигаем флекс-контейнер на половину отступа для расстояния между колонками по вертикали*/

}
.columns__column {
    padding: 0 8px; /*сдвинули колонки на тот же размер*/
    flex: 0 1 50%;
    margin-bottom: 30px;
}

.item__row {
    display:flex;
}
.item__image {
    flex: 0 0 200px;
}
.item__body {
    flex: 1 1 auto;
    padding-left: 15px; 
}
.item__title {
    color: #445161;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 13px;
}
.item__text {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
}




.vertical {
    padding: 50px 0;
}

.vertical__title {
    text-align: center;
    margin-bottom: 30px;
}

.vertical__body {
    max-width: 990px;
    margin: 0px auto;
}
.vertical__row {
    display: flex;
    margin: 0 -22.5px;
}
.vertical__column {
    flex: 0 1 33.333%;
    padding: 0 22.5px;
    display: flex;/*опускаем весь контент вниз*/
}
.vertical__item {
    background-color: #445162;
    color: #ffffff;
    border-radius: 5px;
    border:1px solid #445162;
    padding-bottom: 20px;
    display: flex;         /*опускаем весь контент вниз*/
    flex-direction: column;/*опускаем весь контент вниз*/
}
.vertical__subtitle {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 12px 0;
}
.vertical__label {
    text-align: center;
    background-color: #ffffff;
    color: #445162;
    padding: 15px 0;
    font-size: 40px;

}
.vertical__text {
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    flex: 1 1 auto;
}
.vertical__text p{
    margin-bottom: 15px;
}
.vertical__text p:last-child{
    margin: 0;
}
.vertical__btn {
    display: block;
    margin: 0px 20px;
    height: 40px;
    background-color: #ffffff;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    color: #445161;
    font-weight: 700;
}